.vscode/**
.vscode-test/**
src/**
.gitignore
.gitmodules
.yarnrc
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
.cursor/**
reference/**
node_modules/**
.git/**
.github/**
.prettierrc
.prettierignore
.eslintignore
jest.config.ts
pnpm-lock.yaml 